In [2]:
# Initial imports
import pandas as pd

In [3]:
#  Load the sample dataset.

austin_animal_dataset = "Resources/aac_intakes_outcomes_test_subset.csv"
shelter_df = pd.read_csv(austin_animal_dataset, index_col=0)
shelter_df.head(25)

C:\Users\bandi\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3,4,5,8,9,12,13,18,19,20,21,22,23,24,25,26,27,31,32,35,36,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
age_upon_outcome,,,,,,,,,,,,,,,,,,,,,
10 years,A006100,7/9/2007 0:00,NaN,Return to Owner,Neutered Male,3650.0,10.0,"(7.5, 10.0]",12/7/2017 14:07,12.0,...,"(7.5, 10.0]",12/7/2017 0:00,12.0,2017.0,2017-12,Thursday,14.0,1.0,0 days 14:07:00.000000000,0.588194
7 years,A006100,7/9/2007 0:00,NaN,Return to Owner,Neutered Male,2555.0,7.0,"(5.0, 7.5]",12/20/2014 16:35,12.0,...,"(5.0, 7.5]",12/19/2014 10:21,12.0,2014.0,2014-12,Friday,10.0,2.0,1 days 06:14:00.000000000,1.259722
6 years,A006100,7/9/2007 0:00,NaN,Return to Owner,Neutered Male,2190.0,6.0,"(5.0, 7.5]",3/8/2014 17:10,3.0,...,"(5.0, 7.5]",3/7/2014 14:26,3.0,2014.0,2014-03,Friday,14.0,3.0,1 days 02:44:00.000000000,1.113889
10 years,A047759,4/2/2004 0:00,Partner,Transfer,Neutered Male,3650.0,10.0,"(7.5, 10.0]",4/7/2014 15:12,4.0,...,"(7.5, 10.0]",4/2/2014 15:55,4.0,2014.0,2014-04,Wednesday,15.0,1.0,4 days 23:17:00.000000000,4.970139
16 years,A134067,10/16/1997 0:00,NaN,Return to Owner,Neutered Male,5840.0,16.0,"(15.0, 17.5]",11/16/2013 11:54,11.0,...,"(15.0, 17.5]",11/16/2013 9:02,11.0,2013.0,2013-11,Saturday,9.0,1.0,0 days 02:52:00.000000000,0.119444
15 years,A141142,6/1/1998 0:00,NaN,Return to Owner,Spayed Female,5475.0,15.0,"(12.5, 15.0]",11/17/2013 11:40,11.0,...,"(12.5, 15.0]",11/16/2013 14:46,11.0,2013.0,2013-11,Saturday,14.0,1.0,0 days 20:54:00.000000000,0.870833
15 years,A163459,10/19/1999 0:00,NaN,Return to Owner,Intact Female,5475.0,15.0,"(12.5, 15.0]",11/14/2014 19:28,11.0,...,"(12.5, 15.0]",11/14/2014 15:11,11.0,2014.0,2014-11,Friday,15.0,1.0,0 days 04:17:00.000000000,0.178472
15 years,A165752,8/18/1999 0:00,NaN,Return to Owner,Neutered Male,5475.0,15.0,"(12.5, 15.0]",9/15/2014 16:35,9.0,...,"(12.5, 15.0]",9/15/2014 11:28,9.0,2014.0,2014-09,Monday,11.0,1.0,0 days 05:07:00.000000000,0.213194
15 years,A178569,3/17/1999 0:00,NaN,Return to Owner,Neutered Male,5475.0,15.0,"(12.5, 15.0]",3/23/2014 15:57,3.0,...,"(12.5, 15.0]",3/17/2014 9:45,3.0,2014.0,2014-03,Monday,9.0,1.0,6 days 06:12:00.000000000,6.258333
18 years,A189592,8/1/1997 0:00,NaN,Return to Owner,Spayed Female,6570.0,18.0,"(17.5, 20.0]",9/18/2015 19:04,9.0,...,"(17.5, 20.0]",9/18/2015 17:46,9.0,2015.0,2015-09,Friday,17.0,1.0,0 days 01:18:00.000000000,0.054167
16 years,A191351,8/21/1999 0:00,NaN,Return to Owner,Intact Female,5840.0,16.0,"(15.0, 17.5]",11/17/2015 13:29,11.0,...,"(15.0, 17.5]",11/13/2015 15:57,11.0,2015.0,2015-11,Friday,15.0,1.0,3 days 21:32:00.000000000,3.897222
14 years,A197810,1/21/2000 0:00,Partner,Transfer,Spayed Female,5110.0,14.0,"(12.5, 15.0]",12/22/2014 15:23,12.0,...,"(12.5, 15.0]",12/8/2014 12:30,12.0,2014.0,2014-12,Monday,12.0,1.0,14 days 02:53:00.000000000,14.120139
16 years,A200922,10/3/1997 0:00,Foster,Adoption,Neutered Male,5840.0,16.0,"(15.0, 17.5]",11/22/2013 9:44,11.0,...,"(15.0, 17.5]",10/3/2013 15:47,10.0,2013.0,2013-10,Thursday,15.0,1.0,49 days 17:57:00.000000000,49.747917
14 years,A208755,4/27/2000 0:00,Suffering,Euthanasia,Neutered Male,5110.0,14.0,"(12.5, 15.0]",2/17/2015 16:25,2.0,...,"(12.5, 15.0]",2/17/2015 13:17,2.0,2015.0,2015-02,Tuesday,13.0,1.0,0 days 03:08:00.000000000,0.130556
17 years,A210457,6/1/1999 0:00,Foster,Adoption,Neutered Male,6205.0,17.0,"(15.0, 17.5]",10/7/2016 12:34,10.0,...,"(15.0, 17.5]",9/28/2016 12:05,9.0,2016.0,2016-09,Wednesday,12.0,1.0,9 days 00:29:00.000000000,9.020139
13 years,A212672,3/5/2000 0:00,NaN,Return to Owner,Intact Female,4745.0,13.0,"(12.5, 15.0]",12/6/2013 14:34,12.0,...,"(12.5, 15.0]",11/25/2013 17:18,11.0,2013.0,2013-11,Monday,17.0,1.0,10 days 21:16:00.000000000,10.886111
19 years,A214991,3/1/1994 0:00,Suffering,Euthanasia,Spayed Female,6935.0,19.0,"(17.5, 20.0]",12/14/2013 13:28,12.0,...,"(17.5, 20.0]",12/14/2013 11:51,12.0,2013.0,2013-12,Saturday,11.0,1.0,0 days 01:37:00.000000000,0.067361
13 years,A215368,1/17/2001 0:00,NaN,Return to Owner,Neutered Male,4745.0,13.0,"(12.5, 15.0]",8/4/2014 16:31,8.0,...,"(12.5, 15.0]",8/4/2014 13:51,8.0,2014.0,2014-08,Monday,13.0,1.0,0 days 02:40:00.000000000,0.111111
15 years,A218622,10/19/1998 0:00,Suffering,Euthanasia,Neutered Male,5475.0,15.0,"(12.5, 15.0]",12/2/2013 17:09,12.0,...,"(12.5, 15.0]",12/2/2013 15:33,12.0,2013.0,2013-12,Monday,15.0,1.0,0 days 01:36:00.000000000,0.066667
15 years,A218624,10/19/1998 0:00,Suffering,Euthanasia,Neutered Male,5475.0,15.0,"(12.5, 15.0]",12/2/2013 17:11,12.0,...,"(12.5, 15.0]",12/2/2013 15:33,12.0,2013.0,2013-12,Monday,15.0,1.0,0 days 01:38:00.000000000,0.068056
16 years,A221327,5/2/1999 0:00,Suffering,Euthanasia,Spayed Female,5840.0,16.0,"(15.0, 17.5]",4/29/2015 13:42,4.0,...,"(15.0, 17.5]",4/28/2015 15:08,4.0,2015.0,2015-04,Tuesday,15.0,1.0,0 days 22:34:00.000000000,0.940278
12 years,A221448,11/29/2000 0:00,NaN,Return to Owner,Neutered Male,4380.0,12.0,"(10.0, 12.5]",10/28/2013 12:37,10.0,...,"(10.0, 12.5]",10/27/2013 11:17,10.0,2013.0,2013-10,Sunday,11.0,1.0,1 days 01:20:00.000000000,1.055556
15 years,A226069,6/17/2000 0:00,Foster,Adoption,Neutered Male,5475.0,15.0,"(12.5, 15.0]",10/29/2015 15:00,10.0,...,"(12.5, 15.0]",10/6/2015 12:29,10.0,2015.0,2015-10,Tuesday,12.0,1.0,23 days 02:31:00.000000000,23.104861
12 years,A228887,4/27/2001 0:00,NaN,Return to Owner,Spayed Female,4380.0,12.0,"(10.0, 12.5]",11/9/2013 17:42,11.0,...,"(10.0, 12.5]",11/9/2013 17:00,11.0,2013.0,2013-11,Saturday,17.0,1.0,0 days 00:42:00.000000000,0.029167
13 years,A230482,3/20/2001 0:00,Suffering,Euthanasia,Intact Male,4745.0,13.0,"(12.5, 15.0]",3/13/2015 17:01,3.0,...,"(12.5, 15.0]",3/13/2015 15:20,3.0,2015.0,2015-03,Friday,15.0,1.0,0 days 01:41:00.000000000,0.070139